@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor--primaria: #1b1b1b;
    --cor--secundaria: #F6F6F6;
    --cor--terciaria: #00d061;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);    
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    align-items: baseline;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--cor--secundaria);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.cabecalho__menu__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust height as needed */
    background-color: #3CB371;
    transition: width .3s ease-in-out;
}

.cabecalho__menu__link:hover::before {
    width: 100%;
}

.span__animacao {
    display: inline-block;
    width: 0;
    height: 2px; /* Match the height of the underline */
    background-color: #3CB371;
    transition: width .3s ease-in-out, opacity .3s ease-in-out;
    opacity: 0;
}

.span__animacao:hover {
    width: 100%;
    opacity: 1;
}

.div__dos__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 10%;
}

.div__dos__container a {
    display: inline-block;
    position: relative;
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
}


.apresentacao {
    padding: 2% 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    color: var(--cor--secundaria);
    font-size: 2rem;
    font-family: "Krona One", sans-serif;
}

.titulo-destaque {
    color: var(--cor--terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links_navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid var(--cor--terciaria);
    width: 50%;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links_navegacao:hover {
    background-color: #3CB371;
}

.apresentacao__imagem {
    width: 50%;   
}

.rodape {
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-size: 1rem;
    padding: 28px;
}

@media (max-width: 1200px) {

    .cabecalho{
        padding: 6%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}
